# OS
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.vs/
.idea/
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
*.egg-info/

# Java
*.class
target/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Logs
*.log
